{% extends 'helpdesk/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}

<div class="text-center">

    <h1 class="display-4 text-primary">

        About AI Smart IT Helpdesk

    </h1>

    <p class="lead mt-4">

        AI Smart IT Helpdesk is a Django-based web application designed
        to simplify IT support ticket management.

    </p>

    <p>

        Users can create tickets, track progress,
        and receive AI-powered assistance to solve common IT issues.

    </p>

</div>

{% endblock %}